<html>
    <head>
        <!--import vue framework-->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <title>Hello vue!</title>
    </head>
    <body>
        <div id="app">
            <input v-model="message" placeholder="여기를 수정해보세요!">
            <p>메세지 : {{ message }} </p>
            <br>
            <span>여러 줄을 가지는 메시지 : </span>
            <p style="white-space: pre-line">{{ multiMessage }}</p>
            <br>
            <!-- <textarea>{{multiMessage}}</textarea> 와 같은 방식으로 써도, multiMessage는 무시당함. v-model 써야함! -->
            <textarea v-model="multiMessage" placeholder="여러줄을 입력해보세요."></textarea>
            <br>

            <!-- 체크박스 -->
            <div>
                <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                <label for="jack">Jack</label>
                <br>
                <input type="checkbox" id="david" value="David" v-model="checkedNames">
                <label for="david">David</label>
                <br>
                <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                <label for="mike">Mike</label>
                <br>
                <span>체크한 이름 : {{ checkedNames }}</span>
            </div>

            <!-- 라디오버튼 -->
            <div>
                <input type="radio" id="one" value="One" v-model="picked">
                <label for="one">One</label>
                <br>
                <input type="radio" id="two" value="Two" v-model="picked">
                <label for="two">Two</label>
                <br>
                <span>선택한 개체 : {{picked}}</span>
            </div>

            <!-- select -->
            <div>
                <select v-model="selected">
                    <option disabled value="">Please select one</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>선택함: {{ selected }} </span>
            </div>

            <!-- 다중 선택 가능한 select -->
            <div>
                <select v-model="multiSelected" multiple>
                    <option disabled value="">Please select one</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>선택함: {{ multiSelected }} </span>
            </div>

            <!-- 동적 렌더링 -->
            <div>
                <select v-model="dynamicSelected">
                    <option v-for="option in options" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
                <span>Selected : {{ dynamicSelected }}</span>
            </div>

            <!-- `picked` 는 선택시 문자열 "a" 입니다 -->
            <input type="radio" v-model="picked" value="a">

            <!-- `toggle` 는 true 또는 false 입니다 -->
            <input type="checkbox" v-model="toggle">

            <!-- `selected`는 "ABC" 선택시 "abc" 입니다 -->
            <select v-model="selected">
                <option value="abc">ABC</option>
            </select>

            <!-- true일 땐 app.toggle === 'yes', false일 땐 app.toggle === 'no'로 작동함. -->
            <input
                type="checkbox"
                v-model="toggle"
                true-value="yes"
                false-value="no"
            >

            <!-- value를 변수로 바인딩. app.pick === app.a // true -->
            <input type="radio" v-model="pick" v-bind:value="a">

            <!-- typeof app.selected // object , app.selected.number // 123-->
            <select v-model="selected">
                <!-- inline object literal -->
                <option v-bind:value="{ number: 123 }">123</option>
            </select>

            <!-- .lazy : change 이벤트 이후 동기화를 수행하도록 지정 -->
            <input v-model.lazy="lazeMessage">

            <!-- .number : 숫자로 자동 형변환 -->
            <!-- html에서는 type="number"를 해줘도 숫자를 문자열로 변환한 값을 제공해주는데, 이 때 사용하기 좋음. -->
            <input v-model.number="numberMessage" type="number">

            <!-- .trim : trim 해줌 -->
            <input v-model.trim="trimMessage">
        </div>
    </body>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                // iOS에서는 초기값 선언을 해주지 않으면 스크립트가 작동하지 않기 때문에 선언을 해줘야함.
                message: "",
                multiMessage: "",
                checkedNames: [],
                picked: "",
                selected: "",
                multiSelected: [],
                dynamicSelected: "",
                options: [
                {text: 'One', value: 'A'},
                {text: 'Two', value: 'B'},
                {text: 'Three', value: 'C'},
                {text: 'Four', value: 'D'},
                {text: 'Five', value: 'E'}
                ]
            }
        })
    </script>
</html>